h3 Change user name
div class="col-md-8"
  = bootstrap_form_for current_user,  url: {action: "update"} do |f|
    == f.text_field :name
    == f.file_field :avatar
    == f.text_area :description
    = f.submit
