h2 = @user.name

img src=@user.avatar style="width:200px"

h4 = @user.description

div class="row"
  div class="col-md-12"
    br
    table class="table" id="members"
      thead
        tr
          th Band
          th Instruments
      tbody
      - @user.bands.each do |band|
        tr
          td
            = link_to band.name, band_path(band)
          td
            - band.band_members.each do |member|
              - if member.user == @user
                -unless member.another_instrument == ""
                  =p member.another_instrument
                  -unless member.instruments.empty?
                    | ,
                =p member.instruments.map{ |inst| inst.name }.join(', ')
                -break
