div.container
  div.row
    div.col-md-12
      h1.red-name Welcome fellow metalhead
  div.row
    div class="col col-md-10"
      h3.dark-red On this page you will find most underground Metal bands!
  div.row

    -if current_user
      h3 Your bands:
      div.col-md-10
        table class="table"
          tbody
          - @user_bands.each do |band|
            tr
              td
                div class="col-md-3" 
                  = link_to band do
                    img> src=band.logo_url class="logo-preview"
                    = p band.name
                div.col-md-3
                  div class="star-ratings-css"
                    div.star-ratings-css-top style="width: #{band.rating * 22.5}%"
                      - 7.times do
                        span ★
                    div.star-ratings-css-bottom
                      - 7.times do
                        span ★
  div.row
    h3 Top bands:
    div.col-md-10
      table class="table"
        tbody
        - @top_bands.each do |band|
          tr
            td
              div class="col-md-3" 
                = link_to band do
                  img> src=band.logo_url class="logo-preview"
                  = p band.name
              div.col-md-3
                div class="star-ratings-css"
                  div.star-ratings-css-top style="width: #{band.rating * 22.5}%"
                    - 7.times do
                      span ★
                  div.star-ratings-css-bottom
                    - 7.times do
                      span ★

  div.row
    h3 Newest bands:
    div.col-md-10
      table class="table"
        tbody
        - @newest_bands.each do |band|
          tr
            td
              div class="col-md-3" 
                = link_to band do
                  img> src=band.logo_url class="logo-preview"
                  = p band.name
              div.col-md-3
                div class="star-ratings-css"
                  div.star-ratings-css-top style="width: #{band.rating * 22.5}%"
                    - 7.times do
                      span ★
                  div.star-ratings-css-bottom
                    - 7.times do
                      span ★
  div.row
    =link_to 'Show all bands', bands_path, :class => "btn-default btn-sm"
