h1 Notification Rules

article
  p align="center" class="perex"
    em which govern the requirements for the users&lsquo; notifications regarding the content located on the Server


<h2 class="left">1. Notification regarding User Content that is in breach with the conditions of the Server and/or in breach of legal regulations</h2>

<ul class="conditions">
	<li><span>2.1.</span> The notification regarding User Content which is in violation of legal regulations and/or of the Conditions (in particular in violation of the Principles for User Content) (hereinafter referred to as &bdquo;the Notification&ldquo;) shall be delivered to the Provider in writing, under the following conditions:

	<ul>
		<li><span>2.1.1.</span> to the email address &#115;&#116;&#111;&#110;&#101;&#057;&#057;&#064;&#097;&#122;&#101;&#116;&#046;&#115;&#107</li>
	</ul>
	</li>
</ul>

<ul class="conditions">
	<li><span>2.2.</span> The Notification shall contain in particular the following information:

	<ul>
		<li><span>2.2.1.</span> information regarding the person who makes the notification, including contact information;</li>
		<li><span>2.2.2.</span> name of the Uploaded File (in the sense of the Conditions) and the whole unique URL address of the website of the file;</li>
		<li><span>2.2.3.</span> a declaration that contains the statement that the file is in violation of these Conditions or legal regulations;</li>
		<li><span>2.2.4.</span> an explanation of the reasons why the given file is in violation of these Conditions or of legal regulations;</li>
		<li><span>2.2.5.</span> in the event of a suspicion that the file violates copyright, the Notification shall also specify the following:
		<ul>
			<li><span>2.2.5.1.</span> which work the copyright is related to;</li>
			<li><span>2.2.5.2.</span> who is the authorized owner of the copyright;</li>
			<li><span>2.2.5.3.</span> and it shall be evidenced that the upload of the respective content onto the Server constitutes an illegal violation of the copyright.</li>
		</ul>
		</li>
		<li><span>2.2.6.</span> Further information necessary for assessing the illegal nature of the given file.</li>
	</ul>
	</li>
	<li><span>2.3.</span> The notifying party pledges to provide only correct, truthful, complete, rightful and justified information in the Notification.</li>
	<li><span>2.4.</span> The notifying party is responsible for making sure that the Notification is correct, truthful, complete, rightful and justified. The notifying party is liable for a Notification which in an incorrect, untruthful, and unjustified manner regards legal User Content, and the notifying party bears liability for damages caused to the User whose User Content the Notification concerns or to the Provider.</li>
	<li><span>2.5.</span> In the event that the Notification shall not contain at least the data and information stated in 2.2 hereof, such Notification need not be regarded by the Provider as having been properly made. In such an event, the Provider reserves the right to request additional information regarding the Notification.</li>
</ul>
</article>
