div class="col-md-8"
  = bootstrap_form_for [@band, @event] do |f|
    .field
      == f.text_field :header, required:true
    .field
      == f.text_area :text, required:true
    .field
      == f.datetime_field :date, required:true, min: Date.today
    .field
      == f.text_field :place, required:true, readonly: true
    .field
      == f.collection_select :event_type, EventType.all, :id, :name, required:true
    .field
      == f.number_field :lat, type:"hidden", hide_label:true
    .fiel
      == f.number_field :lng, type:"hidden", hide_label:true
    div style='width: 800px;'
      div id="map" style='width: 800px; height: 400px;'
    = f.submit


