h1 =@event.event_type.name
h2 =@event.header
h4 =@event.text


br
h4 Where?
h3 =@event.place
= hidden_field_tag 'hidden', @event.lat, { :id => "event_lat" }
= hidden_field_tag 'hidden', @event.lng, { :id => "event_lng" }
div style='width: 800px;'
  div id="map" style='width: 800px; height: 400px;'

br
h4 When?
h3 =@event.date
