div class="col-md-8"
  = bootstrap_form_for [@band, @band_member] do |band_member|
    .field
      == band_member.text_field :nickname
    -if @instruments_empty
      div class="alert alert-danger"
        p Please select instrument or create a new one
    .field
      = band_member.select :instruments, Instrument.all.collect {|x| [x.name, x.id]},{}, {multiple: true, size: 10}
    .field
      = band_member.text_field :another_instrument
    = band_member.submit 'Save'
