h2 "You really want to dismiss your band member #{@band_member.nickname}? Who is going to master #{@band_member.instruments.first.name} then?"
= link_to "I'll figure out something", band_band_member_path(@band, @band_member), :method => "DELETE", :class => "btn-default btn"
