div class="col-md-8"
  = bootstrap_form_for [@band, @album, @song] do |f|
    .field
      == f.text_field :name
    .field
      == f.file_field :file
      div class="alert alert-success"
        p please upload mp3 only!
    = f.submit
