div class="col-md-16"
  = bootstrap_form_for [@band, @album] do |f|
    .field
      == f.text_field :name
    .field
      == f.label 'Picture'
      br
      == f.file_field :pict, hide_label:true
    .field
      == hidden_field_tag :items_order, "", :id=>"items_ids"

    div class="col-md-8"
      -unless @album.songs.empty? 
        br
        h4 Songs:
        div class="col-md-6 sortable-items"
          ul id="sortable"
            - @album.songs.order(:priority).each do |song|
              li id=song.id
                a class="play-song" data-src=song.file_url
                  =p song.name
                = link_to edit_band_album_song_path(@band, @album, song), :class=>"song-ctrl" do
                  span class="glyphicon glyphicon-edit"
                = link_to band_album_song_path(@band, @album, song), method: :delete, :class=>"song-ctrl" do
                  span class="glyphicon glyphicon-remove-sign"
                = link_to song.file_url, :class=>"song-ctrl" do
                  span class="glyphicon glyphicon-download-alt"
      
    div
      button class="btn btn-submit" id="save_album" Save
