div class="col col-centered"
  h1 =@band.name

div class="col-md-8"
  = bootstrap_form_for @band do |f|
    .field
      == f.text_field :name
    .field
      == f.text_area :description
    </br>
    .field
      == f.file_field :logo
    = f.submit
