div.row
 div class="col-md-5"
  = search_form_for @q do |f|
    => f.label 'Filter by name or description'
    br
    = f.search_field :name_or_description_cont, class: "form-control"
    br
    => f.label 'Filter by nickname of member'
    br
    = f.search_field :band_members_nickname_cont, class: "form-control"
    br
    => f.label 'Filter by album'
    br
    = f.search_field :albums_name_cont, class: "form-control"
    br
    = f.submit class: 'btn btn-default'


br
div.row
  -if @bands.empty?
   h4 Sorry, band can't be found
  -else
    div.col-md-10
      table class="table"
        tr
          th.col-md-4
            =sort_link(@q, :name)
          th
            div class="col-md-4" 
              =sort_link(@q, :rating)
        tbody
          - @bands.each do |band|
            tr
              td.col-md-4
                = link_to band
                  img> src=band.logo_url class="logo-preview"
                  = p band.name 
              td.col-md-4
                div class="star-ratings-css"
                  div.star-ratings-css-top style="width: #{band.rating * 22.5}%"
                    - 7.times do
                      span ★
                  div.star-ratings-css-bottom
                    - 7.times do
                      span ★
