div class="col col-centered"
  h1 Create new band
div class="col-md-8"
  = bootstrap_form_for @band do |f|
    .field
      == f.text_field :name, required: true
    .field
      == f.text_area :description
    .field
      == f.file_field :logo
    hr
    h3> You in band:
    = f.fields_for :band_members do |band_member|
      .field
        == band_member.text_field :nickname
      -if @instruments_empty
        div class="alert alert-danger"
          p Please select instrument or create a new one
      .field
        = band_member.select :instruments, Instrument.all.collect {|x| [x.name, x.id]},{}, {multiple: true}
      .field
        == band_member.text_field :another_instrument
      br
    = f.submit
