div class="row"
  center
    div class="col-md-6 col-md-offset-3 band-header"
      h1 class="band-name red-name" =@band.name
      img src=@band.logo_url class="logo" 

div class="row"
  br
  div class="col-md-12 band-header"
    center 
      h4 class="band-description" =@band.description
      br
      = link_to 'Edit Band', edit_band_path(@band), :class => "btn-default btn"
      = link_to 'Cancel Band', delete_band_path(@band), :class => "btn-default btn"

div class="row"
  br
  div class="col-centered"
    audio preload
  br

div class="row"
  div id="wrapper"
    - @albums.each do |album|
      div
        img src=album.pict_url class="album-cover" 
        h3.red-name = album.name
        
        ol
          - album.songs.order(:priority).each do |song|
            li
              a class="play-song" data-src=song.file_url
                =p song.name
              = link_to edit_band_album_song_path(@band, album, song), :class=>"song-ctrl" do
                span class="glyphicon glyphicon-edit"
              = link_to band_album_song_path(@band, album, song), method: :delete, :class=>"song-ctrl" do
                span class="glyphicon glyphicon-remove-sign"
              = link_to song.file_url, :class=>"song-ctrl" do
                span class="glyphicon glyphicon-download-alt"
        = link_to 'Add Song', new_band_album_song_path(@band, album), :class => "btn-default btn-sm"
        = link_to 'Edit Album', edit_band_album_path(@band, album), :class => "btn-default btn-sm"
        = link_to 'Delete', delete_band_album_path(@band, album), :class => "btn-default btn-sm"

    br
    br

    = link_to 'Add Album', new_band_album_path(@band), :class => "btn-default btn"

div id="exTab2" class="container"
  ul class="nav nav-tabs"
    li class="active"
      a href="#1" data-toggle="tab" Band members
    li
      a href="#2" data-toggle="tab" Events
    li
      a href="#3" data-toggle="tab" Reviews

  div class="tab-content"
    div class="tab-pane active" id="1"
      div class="row"
        div class="col-md-12"
          br
          table class="table" id="members"
            thead
              tr
                th Name
                th Instruments
            tbody
            - @band_members.each do |member|
              tr
                td
                  = link_to member.nickname, user_path(member.user)
                td
                  -unless member.another_instrument == "" or member.another_instrument == nil
                    =p member.another_instrument
                    -unless member.instruments.empty?
                      | , 
                  =p member.instruments.map{ |inst| inst.name }.join(', ')
                td
                  = link_to 'Edit', edit_band_band_member_path(@band, member), :class => "btn-default btn-sm"
                  = link_to 'Dismiss', delete_band_band_member_path(@band, member), :class => "btn-default btn-sm"



          p Invite Your friends by sending them this link!
          input type="text" value=@link
 
    div class="tab-pane" id="2"
      - @events.each do |e|
        h3
          = link_to e.event_type.name, band_event_path(@band, e)
        h4 #{e.header}! 
        h4 #{e.place} | #{e.date}
        -unless e.date == nil
          p =e.date
        = link_to 'Edit', edit_band_event_path(@band, e), :class => "btn-default btn"
        = link_to 'Delete', band_event_path(@band, e), :method => "DELETE", :class => "btn-default btn"
        br
      = link_to 'Add Event', new_band_event_path(@band), :class => "btn-default btn"
      

    div class="tab-pane" id="3"
      br
      div class="row"
        div class="col-md-6 col-md-offset-3"
          - if @msg
            =p @msg
          = form_for [@band, @new_review] do |f|
            .field
              = text_area_tag :review, @new_review.review, cols:50, rows:10
            - if @new_review.id == nil   
              button class="btn btn-submit" id="add_review" Add review

      <br>
      div class="row"
        div class="col-md-6 col-md-offset-3"
          h2 User Reviews:
      div class="row"
        - @reviews.each do |r|
          - if r.user == current_user
            div class="row"
             div class="col-md-6 col-md-offset-3"
                = form_for [@band, r] do |f|
                    .field
                      = text_area_tag :review, r.review, cols:50, rows:10
                    button> class="btn btn-submit" id="add_review" Edit review
                    = link_to 'Delete', band_user_review_path(@band, r), :method => "DELETE", class:"btn btn-submit"
            br
            br
          - else 
            div class="row"
              div class="col-md-6 col-md-offset-3"
                h4
                  =link_to "#{r.user.name} wrote:", user_path(r.user)
                - if r.rating > -1
                  div.star-ratings-css
                    div.star-ratings-css-top style="width: #{r.rating * 22.5}%"
                      - 7.times do
                        span ★
                    div.star-ratings-css-bottom
                      - 7.times do
                        span ★
                  br
                  br
            div class="row"
              div class="col-md-6 col-md-offset-3"
                = text_area_tag r.review, r.review, cols:50, rows:10, readonly: true
