// Place all the styles related to the bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

input, textarea{
  color: black;
}

#wrapper { width: 400px; margin: 40px auto; }

.red-name {
  color: #b30000;
}

ol { 
    padding: 0px;
    margin: 0px;
    list-style: decimal-leading-zero inside;
    color: #ccc;
    width: 460px;
    border-top: 1px solid #ccc;
    font-size: 0.9em;
}

ol li { position: relative; margin: 0px; padding: 9px 2px 10px; border-bottom: 1px solid #ccc; cursor: pointer; }

ol li a { text-indent: -3.3ex; padding: 0px 0px 0px 20px; }

li.playing { color: #aaa}

li.playing a { color: #fff; }

li.playing:before { content: '♬'; width: 14px; height: 14px; padding: 3px; line-height: 14px; margin: 0px; position: absolute; left: -24px; top: 9px; color: #000; font-size: 13px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }

@media screen and (max-device-width: 480px) {
    #wrapper { position: relative; left: -3%; }
    #shortcuts { display: none; }
}

.logo {
  width: 250px;
}

.band-name {
  display: table-cell;
}

.band-description {
  display: inline;
}


.band-header {
  position: relative;
}

.album-cover {
  float: right;
  width: 50px;
}

.song-ctrl {
  float: right;
}

.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 80px;
  margin-bottom: 10px;
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  float: left;
  text-shadow: 0px 1px 0 #a2a2a2;
  
  &-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}
