// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
*= require ./application.css
*= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";

a {
    color:  #b30000;
}

.dark-red {
  color: #800000
}

.btn-default {
    background-color:  #330000;
    color: #fff;
    border-color: #1a0000;
}

.btn-submit {
  background-color: #4d0000;
  color: #fff;
}

.logo-preview {
 width: 30px;
}


body { 
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 
  background-image: image-url("background.png") !important;
  background-color: black;
  height: 10%;
  color: gray;
}

.col-centered {
  max-width: 300px;
  margin: 0 auto;
}

td {
    vertical-align:middle;
}
