<!DOCTYPE html>
<html>
  <head>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyBZ9trZx7saFSStxqMpz2-ZbhZh9Qm5ZT0"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
    <title>MyBand</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= javascript_tag do %>
    $(document).ready(function() {
      window.$M = new (MyApp.<%= params[:controller].capitalize %> || MyApp.Base)();
      if (typeof $M.<%= params[:action] %> === 'function') {
        return $M.<%= params[:action] %>.call();
      }
    });
    <% end %>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="/">MB</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <% if current_user %>
              <li>
                <%= link_to "Start new band", new_band_path, id:"bands#new" %>
              </li>
            <% end %>

          </ul>
          <%= search_form_for @q, class:"navbar-form navbar-left" do |f| %>
            <div class="form-group">
              <%= f.search_field :name_cont, class:"form-control"%>
            </div>
            <button type="submit" class="btn btn-default">Find</button>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name%><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to "Options", edit_user_path(current_user.id), id: "options" %>
                  </li>
                   <li>
                    <%= link_to "Sign out", signout_path, id: "sign_out" %>
                  </li>                   

              </li>

            <% else %>
              <li>
                <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div id="content" class="container">
      <%= render partial: 'layouts/flash_messages', flash: flash %>
      <%= yield %>
    </div>


  </body>

  <footer class="footer">
    <div class="container">
      <h4>This website is school project. Please dont take it seriously!<h4>
      <%= link_to "Takedown guidance", takedown_guidance_path %>
    </div>
  </footer>

</html>
